<!-- Default Size -->
<div class="modal fade" id="defaultModal0" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">QR Code Scan</h4>
            </div>
            <div class="modal-body">
                Please choose the status and click, Scan the QRcode for updating
                <video id="2" autoplay style="width:100%; height:100%; object-fit: fill"></video>
            </div>
            <div class="modal-footer">
                <button id="create" type="button" class="btn btn-link waves-effect">Scan</button>
                <button id="stop" type="button" class="btn btn-link waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
                <h2>User Credit Classification</h2>
                <div>
                    <button onclick="myFunction1()" class="btn">Distribution 1</button>
                    <button onclick="myFunction2()" class="btn">Distribution 2</button>
                    <button onclick="myFunction3()" class="btn">Distribution 3</button>
                </div>
                <div>
                    <button onclick="d1()" id="d1" class="btn">Level 1</button>
                    <button onclick="d2()" id="d2" class="btn">Level 2</button>
                    <button onclick="d3()" id="d3" class="btn">Level 3</button>
                </div>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="main2" class="dashboard-flot-chart" style="height:600px"></div>
        </div>
    </div>
</div> 


@section MyScripts {
    <script src="../../Scripts/ecStat.min.js"></script>
    <script src="../../Scripts/ecStat.js"></script>
    <script type="text/javascript">
        var data1 =
            [
                [13.7002527839933, 13.2688899748837],
                [17.7992536129716, 16.2446309256927],
                [4.85689903370670, 12.1606247961453],
                [14.7264314301933, 12.4788014806155],
                [13.0080241968443, 15.9783405227516],
                [7.86472651413019, 20.8466025851858],
                [10.6288616342355, 13.5661026751436],
                [13.0834736963623, 17.1744029230510],
                [23.3158847017097, 15.2866394842152],
                [20.7577288508480, 19.5333903562250],
                [7.73128268538998, 12.5560763092693],
                [21.5972706779020, 16.1029557416006],
                [14.2939295751388, 17.7472438555026],
                [11.8006029831476, 19.4804351045577],
                [14.2602155175331, 20.8832267797184],
                [11.3518404127459, 16.2717381027536],
                [11.6074211009994, 11.2831772825471],
                [16.7108374655063, 13.6526354829312],
                [16.4557582895028, 12.6429838002794],
                [16.4815559091486, 23.4327983706430],
                [14.1234603844759, 14.0532959226796],
                [8.18159107944764, 18.3656265011977],
                [14.2681077641065, 15.3915192425639],
                [17.1552566357438, 18.8100328969007],
                [13.5460178480525, 13.5813343458046],
                [15.2719865903956, 11.5656361647127],
                [14.2986126188063, 11.5020523877218],
                [11.0404355423683, 17.5438046949803],
                [12.9293031753607, 15.4390905047554],
                [9.51039317743933, 15.3800244353088],
                [14.8093536596984, 20.4882527822272],
                [8.37264582608450, 16.9220707519044],
                [8.61993482852129, 16.6255334753047],
                [9.44014036268475, 21.0207453632946],
                [2.68935596933596, 13.4560552778698],
                [16.5485578667956, 18.2029198277691],
                [13.0283427782204, 18.6407806486803],
                [9.61270704126118, 15.2293050561380],
                [16.3332644611045, 16.6820086962011],
                [6.58770986364756, 12.3132777802314],
                [11.6766809968229, 12.3698545723608],
                [11.2364774142113, 16.3316429715755],
                [13.0094203402383, 18.2839677910717],
                [12.9893457509382, 24.1760412287091],
                [9.26500955871660, 13.8911065302663],
                [11.9049694573794, 16.5923927140824],
                [11.4786067609248, 15.7391297215610],
                [13.9849847324770, 9.88724481028633],
                [15.4572096018326, 14.6118671378420],
                [15.5078301680673, 10.3247271924896],
                [22.6575007638929, 9.64457444077750],
                [17.1917959845382, 7.93666637216964],
                [20.3165213301794, 7.89004417143234],
                [18.2780483293755, 5.47598512737290],
                [20.9598170283162, 11.2213657104175],
                [18.1016007237588, 7.57872934060875],
                [21.5494063894056, 5.74045722553942],
                [22.3380714885267, 12.2734570257651],
                [25.4134644928377, 7.28921151079246],
                [19.3861274795587, 6.13732665496098],
                [13.2379269019467, 7.07106956028721],
                [17.3449872605687, 5.31862178227327],
                [24.2836033820399, 4.45784329645460],
                [16.6095472833111, 15.9879123959779],
                [23.0388029547330, 13.2351430544502],
                [20.3922799112985, 8.97251156377545],
                [24.5432336344635, 4.02464269603348],
                [13.7990897381838, 5.26314978138662],
                [19.3748233165470, 7.44175011430827],
                [16.1804572050277, 10.5026773315867],
                [29.1959288311657, 3.78783217522928],
                [22.6095712739676, 0.63231314203756],
                [24.3606922797639, 3.41755200344558],
                [16.6537402097354, 9.05465385682814],
                [18.5181074166787, 9.23756876052454],
                [19.1383760740489, 9.42833573603460],
                [23.4735236305282, 7.58800375189450],
                [19.1212917945578, 8.58087592426075],
                [22.2184688808317, 6.49427195272372],
                [13.5115871520216, 10.7259516848088],
                [18.8810280569873, 3.69394399479061],
                [17.3955907302808, 9.43892980106025],
                [15.0129078079904, 5.31614528786043],
                [21.6063568904917, 6.94099451423182],
                [20.8917119050689, 9.74805442579358],
                [20.1058726836867, 11.2858931604685],
                [15.7825400336380, 4.46571615977043],
                [23.5654436438120, 11.9865528729497],
                [21.1073645272018, 10.0875559074462],
                [19.0542701733628, 7.78539027613700],
                [20.0723838802644, 7.38265636709346],
                [19.1714976889406, 7.31186830023141],
                [14.4653425267103, 7.04148954037261],
                [19.0966923139187, 8.07287666328414],
                [17.3709882530576, 8.16219434648267],
                [16.9034777764734, 10.6122399073825],
                [16.3431368781120, 12.8287242640549],
                [18.3127442727860, 9.47651308917585],
                [13.6671097509621, 7.33682819497397],
                [23.0491611624651, 9.97702549957089],
                [30.5794154805232, 10.6783534161335],
                [26.7435891018128, 12.9025584299556],
                [33.0017029911298, 13.7347457674292],
                [30.9710150472061, 14.3483558473681],
                [30.4274606996157, 11.8210752445323],
                [31.6293519763139, 12.2522649521402],
                [30.8266393787871, 19.3994724817912],
                [27.0227605791412, 5.85845769034733],
                [29.4866432038887, 20.0501262698677],
                [29.5381346926894, 14.0674701493326],
                [28.3176323081620, 16.1624699885964],
                [35.3192786194923, 7.73744985790258],
                [27.2307006522843, 11.1341468788866],
                [28.4700424753835, 12.1206839068316],
                [27.7484439206723, 14.3367443869492],
                [26.2868145759399, 7.71836164518982],
                [29.3920852682840, 14.4914386941948],
                [29.1333138345669, 9.16464039527168],
                [34.8385141308010, 13.2093113114586],
                [29.2125146199197, 15.0629304531932],
                [26.6346616987685, 14.0342544277395],
                [35.0705771928790, 16.4235877445977],
                [33.9043982836885, 16.1814951719498],
                [29.2738574039354, 10.9416490057262],
                [25.2371048154591, 13.8128829440622],
                [28.5939633889603, 10.0136151600491],
                [29.5068711464240, 8.82013768733330],
                [30.8730044720894, 15.9245563890315],
                [29.1741280373129, 13.0001576366170],
                [31.4022232092057, 12.8263311432100],
                [31.2392783036376, 15.8812373977475],
                [26.0450060328990, 14.8802387434170],
                [27.0022843525987, 14.1074333487082],
                [27.6564167553176, 16.9536415288670],
                [28.3941399053139, 15.9402524334571],
                [28.9862512370809, 13.7581979915256],
                [30.0394305709416, 10.8168865061822],
                [20.4209001645894, 10.9396064742917],
                [28.5547928108019, 16.7697571138260],
                [33.9289668394412, 7.90294476990364],
                [26.6267939959202, 12.9226445642518],
                [32.9527077094853, 6.83720410941039],
                [31.1078122764763, 16.2270980733498],
                [29.9082757214078, 15.7249862124616],
                [30.5769644133535, 13.0036748306392],
                [25.0508583295390, 12.7759930633140],
                [29.7326626915702, 5.13767990072417],
                [35.0721237126201, 14.8378282527062],
                [30.3110029706717, 6.06691203121877],
                [30.1308348536586, 5.66579169863342]
            ];

        var data2 = [
            [14.1407917913444, 10.2909081826485],
            [14.7123884661023, 21.8773869605642],
            [9.81436293817985, 14.0883080053689],
            [13.4210568187201, 16.3268521408242],
            [12.3182305955693, 17.7808902812032],
            [14.6122627018968, 16.3592252450342],
            [13.6954775561908, 13.1390045087000],
            [14.8393725108164, 14.5209566245775],
            [11.5827758277319, 15.6050633099168],
            [11.5345081236686, 20.6768773979995],
            [15.1868593261092, 13.2778617739686],
            [5.28441177330812, 18.4813395647428],
            [10.4043576822184, 16.9759520608703],
            [7.98202755623614, 15.2604696131689],
            [10.7901606252777, 12.6575586980435],
            [14.0513039389909, 15.1014674068468],
            [14.6111785174417, 15.7258612564253],
            [8.79046639242268, 11.3533647819903],
            [10.5103461387446, 16.6077336196359],
            [12.4333106983488, 13.3996803422809],
            [11.0770469670331, 15.7019850940138],
            [12.9544340747262, 17.0631999371502],
            [13.2646926865192, 13.1392326782631],
            [9.05920333734827, 15.0884533485578],
            [11.4408136004104, 17.1069956378073],
            [5.25772487970582, 10.1945036464428],
            [15.6219517499848, 19.2760434711173],
            [10.0106403402899, 23.6668193165880],
            [8.19309212101850, 19.0338907980550],
            [11.1969564006935, 15.0014412744749],
            [7.48222193570432, 17.3554239251609],
            [11.9340424214979, 12.7239284786326],
            [10.2270216066405, 21.9383319945279],
            [18.8867409608434, 18.9747685195425],
            [15.6001436612273, 18.4898059707171],
            [4.10415159100371, 13.2302423882979],
            [13.3955982970329, 17.0117680000475],
            [7.57869982948737, 14.2345184552163],
            [11.1934447025527, 15.0151737070099],
            [12.5198913282965, 14.1974703745280],
            [14.3645426150476, 12.7563455020136],
            [11.1365497317261, 13.1262941318507],
            [16.9846987391428, 15.3362463495871],
            [10.4791431889847, 10.6277200589585],
            [13.0356842631341, 17.9214017273035],
            [14.1020738596123, 15.6274891014419],
            [12.2693899836633, 18.2109391039588],
            [14.7858173128736, 16.8527038757951],
            [13.0220896852884, 17.5630729129367],
            [9.52031204109277, 11.3099595231719],
            [16.7736407256893, 9.93693079479408],
            [18.5864776633159, 7.82643481728371],
            [20.3467709136008, 4.46225878092831],
            [23.5693780664668, 6.01921713973154],
            [19.0830563538036, 8.78904437679742],
            [23.9893736531471, 4.85979817946560],
            [21.5034252611517, 11.0830633156970],
            [23.7128831736780, 5.97389864022269],
            [20.4014418772983, 13.7201258551817],
            [17.9229656610447, 4.58516307931882],
            [15.3154048101522, 8.62989232914057],
            [20.4916993781489, 3.19009168319532],
            [22.5884867063742, 5.71167745829586],
            [19.0747550902320, 6.12397778195348],
            [18.2898831962158, 9.26913694162274],
            [19.0239888825459, 10.9792871483233],
            [16.5322675002957, 8.95022006252206],
            [18.4409660747811, 6.82024699054687],
            [19.4284519708955, 10.5788010912649],
            [20.1449623045159, 10.5263024882963],
            [19.7983000644575, 8.38012247776482],
            [21.9332116270672, 9.80644361787023],
            [20.3456929008854, 9.30537560161435],
            [25.7364205336219, 4.87895248483977],
            [20.9867059817659, 10.4019659484118],
            [25.7063103422364, 5.92174701362765],
            [17.7132890995666, 6.09024207778133],
            [21.6650879345033, 8.55955498329008],
            [19.1770145139872, 7.02758864682876],
            [21.8978172485229, 7.58314744281856],
            [21.8781740867661, 9.88268627193351],
            [13.0871926893610, 11.3103759277403],
            [15.8035210941925, 7.37399983845409],
            [15.4431148921876, 9.03620933744873],
            [21.2707438758506, 7.24642447565137],
            [24.6491846663782, 8.72604912627466],
            [18.9665226652852, 9.39139554494149],
            [22.5687908904164, 6.04929865375458],
            [21.7251492821066, 8.86911023144322],
            [16.6744466408909, 9.90085152875630],
            [21.2569010014577, 8.29190337205888],
            [17.6223000650681, 13.4702387882039],
            [24.7948569341163, 6.07557238757486],
            [19.8970156555046, 5.66921234975122],
            [25.1734851682543, 2.46639576141947],
            [18.6558470308790, 10.8791987215905],
            [21.8639519677309, 10.7419557867071],
            [19.8014367096564, 7.74735665983934],
            [13.6060044457193, 10.8412305494050],
            [16.8942274166818, 8.58092123093792],
            [30.9195591473425, 12.0585989720032],
            [30.3571625554697, 16.6166302699367],
            [31.3912509784135, 11.3188695787113],
            [30.3214848745917, 16.0755228747272],
            [38.8143279223148, 11.3484989582928],
            [26.3106812381158, 13.5583880152792],
            [24.1361914355397, 16.0697425333075],
            [26.3928494988359, 11.6909047229199],
            [26.5425444134422, 11.6140669311702],
            [28.6288070085163, 19.3352773733208],
            [29.4672514675183, 16.0073054985894],
            [29.3089362051309, 11.6338838958728],
            [31.7118497927552, 15.0521307965381],
            [31.2309678202721, 11.8613387569047],
            [32.3755946359509, 15.2322044273362],
            [35.6233389043906, 17.4773078792872],
            [33.8676633843364, 7.92607594580538],
            [25.9419878881337, 16.2535190757008],
            [22.6351991616089, 17.6104989420327],
            [32.8521577289443, 13.1501175050906],
            [24.1952007982833, 18.5221485833266],
            [30.2111038896986, 13.4913784648275],
            [30.1121959854584, 9.08788405823682],
            [37.0429238590304, 6.06356204433417],
            [29.7811253107409, 11.9456742794496],
            [28.3957036062814, 15.2564220452611],
            [30.7456956596395, 14.0037313839721],
            [30.7773031919049, 14.3079508972375],
            [30.2215024009406, 11.1750951508565],
            [28.0754994485603, 13.4553736796053],
            [26.1338202663661, 7.81808396974656],
            [31.0008620203859, 10.5963843775983],
            [25.7534746125031, 10.4107488834277],
            [26.7359465075650, 14.6435270522891],
            [34.2096742542022, 12.9552219614502],
            [28.6753117845840, 9.34589529299678],
            [29.5562637531048, 12.9698795706078],
            [32.8454880487924, 10.8186275470985],
            [29.0509656713709, 10.8917121605139],
            [33.2551401955270, 15.7326804095979],
            [28.9088055868284, 13.3586637494091],
            [33.2027607095357, 14.2597339290718],
            [31.9901306987000, 15.7953582361506],
            [29.3263871628853, 13.5700248787687],
            [27.2624247413036, 14.7419549491051],
            [26.7014019215438, 15.1597226730418],
            [29.1459674270547, 16.7017896144302],
            [28.6144753791835, 14.5048033045049],
            [28.7076583440350, 17.4658718753030],
            [33.1102431250556, 13.0714943048625]
        ];

        var data3 = [
            [11.9909718233149, 16.5260369592315],
            [14.9088751167961, 17.1898572829012],
            [12.4737368085027, 15.2823196154946],
            [16.4427896492877, 12.3668203330456],
            [15.2701794424802, 22.4015017562882],
            [12.9220262105488, 8.53853151265390],
            [9.54070128595161, 14.3873267922565],
            [13.7920504093531, 11.8206529190744],
            [7.62776799489918, 13.9883858470980],
            [12.7730968050948, 17.0051344417453],
            [14.5565079668705, 16.4365460256332],
            [12.6736970035884, 13.7524583506264],
            [14.7817834446158, 18.4571008944180],
            [18.4474928216945, 17.9681824022337],
            [14.9217309419937, 18.0471981087251],
            [12.8440670784792, 14.6540344416256],
            [14.0291118471476, 19.3159035139268],
            [13.3455028348227, 18.0893392591339],
            [7.84247923562512, 23.9334351463986],
            [10.6831921025010, 19.3629546590302],
            [15.8728029489989, 19.6585074988823],
            [11.8621746404646, 16.1675337621137],
            [13.8417841190358, 11.9257657252283],
            [8.81716729907347, 14.8260953420584],
            [12.2040198529172, 13.6036515513996],
            [13.8982898204891, 14.2165736926548],
            [7.69451167424662, 17.7555022665919],
            [13.0991844148864, 14.2393131666980],
            [11.4249612526129, 13.1694037283406],
            [9.02893019871170, 14.7055920901890],
            [11.8813096354823, 15.4912313717263],
            [6.00335866294082, 17.2944291249670],
            [5.27074660461862, 12.9875004680353],
            [8.27824164354913, 17.0034459539132],
            [8.86766208748591, 16.2467211591215],
            [8.29054607682696, 20.1880745193314],
            [6.54371824693971, 15.3258957329818],
            [12.9114572489807, 15.5747411865527],
            [6.95874843519616, 12.2958476648824],
            [12.3485426046286, 11.6194147634668],
            [14.4889233677098, 16.9819135192068],
            [11.9929582833858, 15.2110463049578],
            [12.2944357518999, 17.5929785739008],
            [10.8041623879112, 13.1771567856900],
            [7.31136645673278, 22.0352459064477],
            [11.8614334664213, 16.3865274135933],
            [15.0383961022289, 19.3110099093645],
            [17.4968131183041, 15.2824153230370],
            [10.6395684103110, 15.4861237405072],
            [6.85395366457754, 18.1821357009525],
            [21.7574572227238, 6.51433234613738],
            [16.4574426351013, 10.8029713779956],
            [15.1531991221546, 3.61955036852431],
            [16.5282372785627, 1.81220068408626],
            [15.5229316533433, 9.33031866714338],
            [20.1883787414255, 9.26724481912074],
            [18.6995103854659, 8.30086592035407],
            [18.8362478802024, 9.57065395582652],
            [15.6962566996055, 11.4223452601663],
            [22.4652086644835, 11.0688253614735],
            [21.3895399416961, 6.20202514930542],
            [19.7165888218164, 10.5613565928155],
            [23.2292550742044, 8.54785629362750],
            [17.2362342622932, 6.40133402931968],
            [21.3113974723698, 4.22643575571835],
            [21.1018678224914, 10.0459017468020],
            [21.1044394395308, 6.88174715410502],
            [17.6939176568364, 8.14683886640539],
            [21.0335596171071, 5.49247982810091],
            [18.3718013145656, 3.09684271463688],
            [17.1651883647221, 8.54260369805570],
            [16.1949318949085, 7.80349883380875],
            [23.2818612121175, 11.7916590702795],
            [17.3248895155808, 10.5352108716620],
            [19.4531984131654, 11.3308415399977],
            [16.1779066083785, 5.63184377521333],
            [19.0604025581372, 5.03907563554630],
            [9.77939908107907, 3.98679524934279],
            [16.5627331111606, 9.57475299945741],
            [15.4892127992209, 16.8198489423456],
            [16.7920249999448, 10.3007847985018],
            [19.3255899347687, 5.55535665988586],
            [18.9711599823807, 10.6456682315227],
            [26.1487257000157, 4.43190626713177],
            [18.1918943249309, 3.49543005233597],
            [19.2093285128488, 10.2687518067884],
            [15.0373887463850, 5.54004675179606],
            [18.4903834672486, 8.99923509149345],
            [15.7689463186132, 12.4478546453821],
            [20.0958139260503, 9.26846747451805],
            [22.6976972271093, 10.9398439489661],
            [21.2783617017610, 2.92200756167867],
            [17.7844443508452, 10.0919612861832],
            [14.8437706363190, 14.7625379035016],
            [24.6169670789279, 9.71123307808562],
            [26.4828043367599, 3.12731851074760],
            [20.3810563544663, 7.35760607811075],
            [16.8696562712065, 6.41897114830605],
            [23.7876859752129, 9.21122796269710],
            [18.1258564811235, 9.30297027140182],
            [31.2822800338628, 11.1935605244712],
            [28.8496242582897, 13.6767162839998],
            [28.1049354154118, 15.9800575236401],
            [28.1355559037575, 13.2963860253243],
            [32.6991331116036, 9.45093871526676],
            [24.1402739716381, 13.9681560301442],
            [29.3444498493640, 9.29275163809978],
            [30.8550109501628, 9.96115690395605],
            [27.9357568113605, 10.9327083621012],
            [31.5091251822026, 9.11231592821708],
            [29.7744674639872, 12.1431330228324],
            [27.0328307976003, 10.1541080067748],
            [30.5102763007915, 12.0965811092419],
            [29.1519312636857, 11.5376946807096],
            [28.7038688824848, 11.7041453699599],
            [27.7506000833328, 11.4076699194559],
            [30.1943076800562, 16.9000279076647],
            [24.1620267589017, 14.9299545554183],
            [28.7403600749691, 13.1868025562610],
            [28.2811499177987, 8.36110712570971],
            [27.1163237315470, 7.85875865084641],
            [32.0640141731276, 6.78690732904751],
            [27.6780304024542, 21.2383523233542],
            [31.7096319422680, 16.0749191427795],
            [33.0858798291921, 13.8126451795842],
            [29.5039321919673, 9.91918115977497],
            [30.8784785890958, 9.37487751209558],
            [32.0223312809186, 14.7317881708443],
            [29.7439250320091, 17.9492301223135],
            [31.7103815726768, 7.64517716881746],
            [26.0074193973190, 11.5788807683753],
            [33.5114685046696, 12.7334450614026],
            [26.8707280466457, 6.70075182614672],
            [24.2167129811540, 15.6602523774202],
            [34.3781687129920, 11.6887333687409],
            [29.8016404605094, 19.0468467473601],
            [31.4196132290144, 11.7638696716690],
            [28.8512758476486, 14.2939473585807],
            [26.7726319355629, 9.38732492560247],
            [20.2823569922591, 11.0240072416555],
            [31.9804680834566, 9.30417384078689],
            [29.0934239051103, 14.2414320419815],
            [29.3759469342726, 17.1167779817295],
            [31.2826368087455, 11.1227399183891],
            [25.5116260712565, 14.3799401521842],
            [27.6932916196108, 11.4050657952061],
            [33.6281692023339, 13.3228929407103],
            [31.8906139723659, 16.7828763612069],
            [25.9482328979793, 13.3803676630826],
            [23.0326667075383, 9.72121328833108]
        ];
        var data;
        var index;
        function myFunction1() {
            index = 1;
            console.log(index);
            var myChart1 = echarts.init(document.getElementById('main2'));
            data = data1;
            var clusterNumber = 3;
            var step = ecStat.clustering.hierarchicalKMeans(data, clusterNumber, true);
            var result;

            option = {
                timeline: {
                    currentIndex: 1,
                    show: false,
                    top: 'center',
                    right: 35,
                    height: 300,
                    width: 10,
                    inverse: true,
                    playInterval: 2500,
                    symbol: 'none',
                    orient: 'vertical',
                    axisType: 'category',
                    autoPlay: false,
                    label: {
                        normal: {
                            show: false
                        }
                    },
                    data: []
                },
                baseOption: {
                    xAxis: {
                        type: 'value',
                        name: 'Usage last 30 days',
                    },
                    yAxis: {
                        type: 'value',
                        name: 'Turnoverbox Scrap Rate %'
                    },
                    series: [{
                        type: 'scatter'
                    }]
                },
                options: []
            };

            for (var i = 0; !(result = step.next()).isEnd; i++) {

                option.options.push(getOption(result, clusterNumber));
                option.timeline.data.push(i + '');

            }

            function getOption(result, k) {
                var clusterAssment = result.clusterAssment;
                var centroids = result.centroids;
                var ptsInCluster = result.pointsInCluster;
                var color = ['#c23531', '#2f4554', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#ca8622', '#bda29a', '#6e7074', '#546570', '#c4ccd3'];
                var series = [];
                for (i = 0; i < k; i++) {
                    series.push({
                        name: 'scatter' + i,
                        type: 'scatter',
                        animation: false,
                        data: ptsInCluster[i],
                        markPoint: {
                            symbolSize: 29,
                            label: {
                                normal: {
                                    show: false
                                },
                                emphasis: {
                                    show: true,
                                    position: 'top',
                                    formatter: function (params) {
                                        return Math.round(params.data.coord[0] * 100) / 100 + '  ' +
                                            Math.round(params.data.coord[1] * 100) / 100 + ' ';
                                    },
                                    textStyle: {
                                        color: '#000'
                                    }
                                }
                            },
                            itemStyle: {
                                normal: {
                                    opacity: 0.7
                                }
                            },
                            data: [{
                                coord: centroids[i]
                            }]
                        }
                    });
                }

                return {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross'
                        }
                    },
                    series: series,
                    color: color
                };
            }

            myChart1.setOption(option);
            //   window.onresize = resize(myChart1);
        }

        function myFunction2() {
            index = 2;
            console.log(index);
            var myChart1 = echarts.init(document.getElementById('main2'));
            data = data2;
            var clusterNumber = 3;
            var step = ecStat.clustering.hierarchicalKMeans(data, clusterNumber, true);
            var result;

            option = {
                timeline: {
                    currentIndex: 1,
                    show: false,
                    top: 'center',
                    right: 35,
                    height: 300,
                    width: 10,
                    inverse: true,
                    playInterval: 2500,
                    symbol: 'none',
                    orient: 'vertical',
                    axisType: 'category',
                    autoPlay: false,
                    label: {
                        normal: {
                            show: false
                        }
                    },
                    data: []
                },
                baseOption: {
                    xAxis: {
                        type: 'value',
                        name: '过去30天使用量', 
                    },
                    yAxis: {
                        type: 'value',
                        name: '周转箱报废率 %'
                    },
                    series: [{
                        type: 'scatter'
                    }]
                },
                options: []
            };

            for (var i = 0; !(result = step.next()).isEnd; i++) {

                option.options.push(getOption(result, clusterNumber));
                option.timeline.data.push(i + '');

            }

            function getOption(result, k) {
                var clusterAssment = result.clusterAssment;
                var centroids = result.centroids;
                var ptsInCluster = result.pointsInCluster;
                var color = ['#c23531', '#2f4554', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#ca8622', '#bda29a', '#6e7074', '#546570', '#c4ccd3'];
                var series = [];
                for (i = 0; i < k; i++) {
                    series.push({
                        name: 'scatter' + i,
                        type: 'scatter',
                        animation: false,
                        data: ptsInCluster[i],
                        markPoint: {
                            symbolSize: 29,
                            label: {
                                normal: {
                                    show: false
                                },
                                emphasis: {
                                    show: true,
                                    position: 'top',
                                    formatter: function (params) {
                                        return Math.round(params.data.coord[0] * 100) / 100 + '  ' +
                                            Math.round(params.data.coord[1] * 100) / 100 + ' ';
                                    },
                                    textStyle: {
                                        color: '#000'
                                    }
                                }
                            },
                            itemStyle: {
                                normal: {
                                    opacity: 0.7
                                }
                            },
                            data: [{
                                coord: centroids[i]
                            }]
                        }
                    });
                }

                return {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross'
                        }
                    },
                    series: series,
                    color: color
                };
            }

            myChart1.setOption(option);
           
            //   window.onresize = resize(myChart1);
        }
        function myFunction3() {
            index = 3;
            console.log(index);
            var myChart1 = echarts.init(document.getElementById('main2'));
            data = data3;
            var clusterNumber = 3;
            var step = ecStat.clustering.hierarchicalKMeans(data, clusterNumber, true);
            var result;

            option = {
                timeline: {
                    currentIndex: 1,
                    show: false,
                    top: 'center',
                    right: 35,
                    height: 300,
                    width: 10,
                    inverse: true,
                    playInterval: 2500,
                    symbol: 'none',
                    orient: 'vertical',
                    axisType: 'category',
                    autoPlay: false,
                    label: {
                        normal: {
                            show: false
                        }
                    },
                    data: []
                },
                baseOption: {
                    xAxis: {
                        type: 'value',
                        name: '过去30天使用量', 
                    },
                    yAxis: {
                        type: 'value',
                        name: '周转箱报废率 %'
                    },
                    series: [{
                        type: 'scatter'
                    }]
                },
                options: []
            };

            for (var i = 0; !(result = step.next()).isEnd; i++) {

                option.options.push(getOption(result, clusterNumber));
                option.timeline.data.push(i + '');

            }

            function getOption(result, k) {
                var clusterAssment = result.clusterAssment;
                var centroids = result.centroids;
                var ptsInCluster = result.pointsInCluster;
                var color = ['#c23531', '#2f4554', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#ca8622', '#bda29a', '#6e7074', '#546570', '#c4ccd3'];
                var series = [];
                for (i = 0; i < k; i++) {
                    series.push({
                        name: 'scatter' + i,
                        type: 'scatter',
                        animation: false,
                        data: ptsInCluster[i],
                        markPoint: {
                            symbolSize: 29,
                            label: {
                                normal: {
                                    show: false
                                },
                                emphasis: {
                                    show: true,
                                    position: 'top',
                                    formatter: function (params) {
                                        return Math.round(params.data.coord[0] * 100) / 100 + '  ' +
                                            Math.round(params.data.coord[1] * 100) / 100 + ' ';
                                    },
                                    textStyle: {
                                        color: '#000'
                                    }
                                }
                            },
                            itemStyle: {
                                normal: {
                                    opacity: 0.7
                                }
                            },
                            data: [{
                                coord: centroids[i]
                            }]
                        }
                    });
                }

                return {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross'
                        }
                    },
                    series: series,
                    color: color
                };
            }

            myChart1.setOption(option); 
            //  window.onresize = resize(myChart1);
        }

        function d1() {
            if (index == 1) {
                var c1 = [12.13, 16.58];
                var c2 = [17.54, 9];
                var c3 = [28.25, 11.5];
            }
                
            if (index == 2) {
                var c1 = [11.81, 15.77];
                var c2 = [17.98, 8.95];
                var c3 = [27.67, 11.54];
            }
                
            if (index == 3) {
                var c1 = [11.65, 16.47];
                var c2 = [17.13, 8.45];
                var c3 = [27.63, 11.18];
            } 
            var creditc1;
            var creditc2;
            var creditc3;

            if (c1[1] > 15)
                creditc1 = "Low Credit Company";
            else if (10 < c1[1] <= 15)
                creditc1 = "Good Credit Company";
            else if (c1[1] < 10)
                creditc1 = "Perfect Credit Company";

            if (c2[1] > 15)
                creditc2 = "Low Credit Company";
            else if (10 < c2[1] <= 15)
                creditc2 = "Good Credit Company";
            else if (c2[1] < 10)
                creditc2 = "Perfect Credit Company";

            if (c3[1] > 15)
                creditc3 = "Low Credit Company";
            else if (10 < c3[1] <= 15)
                creditc3 = "Good Credit Company";
            else if (c3[1] < 10)
                creditc3 = "Perfect Credit Company";

            var BASISc1 = calculate1(c1[1], c1[0]); 
            var PREIS3 = calculate4(c1[1], c1[0]); // 高报废率, 低使用量  劣质客户---惩罚
            var PREIS1 = calculate2(c1[1], c1[0]); // 中报废率, 高使用量  稳定客户---优化利润
            var PREIS2 = calculate3(c1[1], c1[0]); // 低报废率, 中使用量  优质客户---激励周转

            alert("Credit Level I Preis" + "...." + BASISc1.toFixed(2) +
                "Strategy1" + "...." + PREIS3.toFixed(2) +
                "Strategy2" + "...." + PREIS2.toFixed(2) +
                "Strategy3" + "...." + PREIS1.toFixed(2));

            window.location.href = "http://connecting20180812.chinacloudsites.cn/TurnoverBoxes/fee"
        }

        function d2() {
            if (index === 1) {
                var c1 = [12.13, 16.58];
                var c2 = [17.54, 9];
                var c3 = [28.25, 11.5];
            }

            if (index === 2) {
                var c1 = [11.81, 15.77];
                var c2 = [17.98, 8.95];
                var c3 = [27.67, 11.54];
            }

            if (index === 3) {
                var c1 = [11.65, 16.47];
                var c2 = [17.13, 8.45];
                var c3 = [27.63, 11.18];
            }

            var creditc1;
            var creditc2;
            var creditc3;

            if (c1[1] > 15)
                creditc1 = "Low Credit Company";
            else if (10 < c1[1] <= 15)
                creditc1 = "Good Credit Company";
            else if (c1[1] < 10)
                creditc1 = "Perfect Credit Company";

            if (c2[1] > 15)
                creditc2 = "Low Credit Company";
            else if (10 < c2[1] <= 15)
                creditc2 = "Good Credit Company";
            else if (c2[1] < 10)
                creditc2 = "Perfect Credit Company";

            if (c3[1] > 15)
                creditc3 = "Low Credit Company";
            else if (10 < c3[1] <= 15)
                creditc3 = "Good Credit Company";
            else if (c3[1] < 10)
                creditc3 = "Perfect Credit Company";
             
            var BASISc2 = calculate1(c2[1], c2[0]); 
            var PREIS3 = calculate4(c2[1], c2[0]); // 高报废率, 低使用量  劣质客户---惩罚
            var PREIS1 = calculate2(c2[1], c2[0]); // 中报废率, 高使用量  稳定客户---优化利润
            var PREIS2 = calculate3(c2[1], c2[0]); // 低报废率, 中使用量  优质客户---激励周转

            alert("Credit Level II Preis" + "...." + BASISc2.toFixed(2) +
                "Strategy1" + "...." + PREIS3.toFixed(2) +
                "Strategy2" + "...." + PREIS2.toFixed(2) +
                "Strategy3" + "...." + PREIS1.toFixed(2)); 

            window.location.href = "http://connecting20180812.chinacloudsites.cn/TurnoverBoxes/fee2"
        }

        function d3() {
            if (index === 1) {
                var c1 = [12.13, 16.58];
                var c2 = [17.54, 9];
                var c3 = [28.25, 11.5];
            }

            if (index === 2) {
                var c1 = [11.81, 15.77];
                var c2 = [17.98, 8.95];
                var c3 = [27.67, 11.54];
            }

            if (index === 3) {
                var c1 = [11.65, 16.47];
                var c2 = [17.13, 8.45];
                var c3 = [27.63, 11.18];
            }
            var creditc1;
            var creditc2;
            var creditc3;

            if (c1[1] > 15)
                creditc1 = "Low Credit Company";
            else if (10 < c1[1] <= 15)
                creditc1 = "Good Credit Company";
            else if (c1[1] < 10)
                creditc1 = "Perfect Credit Company";

            if (c2[1] > 15)
                creditc2 = "Low Credit Company";
            else if (10 < c2[1] <= 15)
                creditc2 = "Good Credit Company";
            else if (c2[1] < 10)
                creditc2 = "Perfect Credit Company";

            if (c3[1] > 15)
                creditc3 = "Low Credit Company";
            else if (10 < c3[1] <= 15)
                creditc3 = "Good Credit Company";
            else if (c3[1] < 10)
                creditc3 = "Perfect Credit Company";
             
            var BASISc3 = calculate1(c3[1], c3[0]);
            var PREIS3 = calculate4(c3[1], c3[0]); // 高报废率, 低使用量  劣质客户---惩罚
            var PREIS1 = calculate2(c3[1], c3[0]); // 中报废率, 高使用量  稳定客户---优化利润
            var PREIS2 = calculate3(c3[1], c3[0]); // 低报废率, 中使用量  优质客户---激励周转

            alert("Credit Level III Preis" + "...." + BASISc3.toFixed(2) +
                "Strategy1" + "...." + PREIS3.toFixed(2) +
                "Strategy2" + "...." + PREIS2.toFixed(2) +
                "Strategy3" + "...." + PREIS1.toFixed(2));

            window.location.href = "http://connecting20180812.chinacloudsites.cn/fee3"
        }

        function calculate1(A, B) {
            var Y;
            Y = A * Math.pow(0.5, B) + 2 + A / 10;
            return Y;
        }

        function calculate2(A, B) {
            var Y;
            Y = A * Math.pow(0.6667, B) + 2 + A / 10 + 0.3 * (Math.pow(0.2, B) - 1);
            return Y;
        }

        function calculate3(A, B) {
            var Y;
            Y = A * Math.pow(0.6667, B) + 2 + A / 10 + 0.15 * (Math.pow(0.2, A * 100) - 1);
            return Y;
        }

        function calculate4(A, B) {
            var Y;
            Y = A * Math.pow(0.6667, B) + 2 + A / 10 - 0.20 * (Math.pow(0.2, A * 100) - 1);
            return Y;
        } 
    </script>
}

 